/* .rowDiv{
 background-color: yellow;
} */

.taskBar{
     margin-bottom: 30px;
}

.container1{
 margin: 20px;
}

.ed{
     margin-left: 20px;
}

.heading{
     margin: 40px;
}

.task {
     margin-left: 15%;
}