*{
     margin: 0;
     padding: 0;
     box-sizing: border-box   ;
}

html,body{
     width: 100%;
     height: 100%;
}

#root{
    width: 100%;
    height: 100%; 
     display: flex;
     align-items: center;
     justify-content: center; 
     background: #51dd74;
}

.Card{
     width: 60%;
     height: 30%;
     display: flex;
     gap: 10px;
     margin: auto;
}

.top{
     width: 100%;
     height: 100%;
     display: flex;
     align-items: center;
     justify-content: center;
     background-color: black;
     border-radius: 10px;
} 

/* .buttom{
     width: 100%;
     height: 50%;
}